#headerimg {
    display: inline-block;
    margin-top: -0.5em;
    margin-right: -0.5em;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    vertical-align: middle;
    background-image: url('../default.jpg' );
    background-size: cover;
    border: 1px solid #AAA;
}

.top-nav-collapse #headerimg {
    margin-top: -0.5em;
    width: 2em;
    height: 2em;
    border-radius: 2em;
}
